* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#wrapper{
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
    background-color:#ffffff;
    border: 2px solid #2a7fa9;
}
header {
    background-color: #e6e6e6; 
    text-align:center;
    padding: 18px 10px;
}

h1 {
    margin-top:0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family:Georgia, "Times New Roman", serif;
    letter-spacing: 0.30em;
}
nav {
    text-align: center;
    background-color: #CCCCCC;
}

nav li{
    margin: 20px;
    display: inline;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}

main{
    background-color: #ffffff;
    padding: 20px;
}

h2 {
    text-shadow:1px 1px #CCCCCC;
    color: #000000;
    font-family:Georgia, "Times New Roman", serif;
}

h3 {
    font-family:Georgia, "Times New Roman", serif;
    color: #000000;}

footer{
    font-size:0.9em;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding:10px;
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}

body{
    background-color: #f0f6ff;
}

.main{
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px;
    margin-bottom: 30px;
}

#mainphoto{
    width: 80%;
    border-radius: 20px;
}

.gallery{
    background: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 12 px;
    margin-bottom: 30px;
    text-align: center;
}

.gallery img{
    width: 30%;
    border-radius: 15px;
}

.links{
    text-align: center;
    margin: 30px 0;
}

.button{
    display: inline-block;
    padding: 12px 25px;
    margin: 10px;
    background-color: #6c87a8;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 4px 10px;
}

.button:hover{
    background-color: #5a7592;
}

.about{
    padding: 20px;
    background: #f0f8ff;
    border: 2px solid #2a7fa9;
    margin-bottom: 30px;
    border-radius: 8px;
}

.about img{
    display: block;
    margin: 0 auto;
    width: 40%;
}

.about h2{
    text-align: center;
}

.members{
    padding: 20px;
}

.members-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.member-profile{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 15px;
    background: #ffffff;
    border: 2px solid #2a7fa9;
    border-radius: 10px;
}

.member-profile img{
    width: 140px;
    height: 165px;
    border-radius: 7px;
}

.member-info h3{
    margin: 0 0 5px 0;
}

.music{
    text-align: center;
    padding: 25px;
    background-color: #f0f8ff;
    border-bottom: 2px solid #2a7fa9;
}

.album-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.album-card{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border: 2px solid #2a7fa9;
    border-radius: 10px;
    background: #ffffff;
}

.album-card img{
    width: 150px;
    border-radius: 8px;
}

.album-info h3{
    margin-top: 0;
    margin-bottom: 5px;
}

.album-info ul{
    margin:0;
    padding-left: 18px;
}