* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#wrapper{
    width: 90%;
    margin: 0 auto;
    background-color:#ffffff;
    border: 1px solid #3399cc;
}
header {
    background-color: #e6e6e6; 
    color: #FFFFFF;
    text-align:center;
    padding: 20px;
}

h1 {
    margin-top:0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family:Georgia, "Times New Roman", serif;
    letter-spacing: 0.25em;
}
nav {
    text-align: center;
    background-color: #CCCCCC;
}

nav li{
    margin: 20px;
    display: inline;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}

main{
    background-color: #FFFFFF;
    padding: 20px;
    overflow: auto;
}

h2 {
    text-shadow:1px 1px #CCCCCC;
    color: #000000;
    font-family:Georgia, "Times New Roman", serif;
}
h3 {
    font-family:Georgia, "Times New Roman", serif;
    color: #000000;}

footer{
    font-size:0.9em;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding:10px;
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}

img{
    width: 900px;
    height: auto;
    margin: auto;
    display: block;
}
